.ui-menu .ui-menu-item .ui-menu-item-text .ui-button .ui-layout-unit-header-header-title .ui-layout-unit-header{
    color: black;
    background-color: black;
}

body, h:body, h:form {
    background-color:  #ccccff;
    font-size: 20px;
    font-family: Arial, "Arial CE", sans-serif;
    color: #edfc3a;  
    margin: 10px;
}

table{
    border: activeborder;
}
h1 {
    font-family: Arial, "Arial CE", sans-serif;
    border-bottom: 1px solid #AFAFAF; 
    font-size:  30px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #D20005;
}

a:link, a:visited {
  color: #045491;
  font-weight : bold;
  text-decoration: none;
}

a:link:hover, a:visited:hover  {
  color: #045491;
  font-weight : bold;
  text-decoration : underline;
}

p:menu {
    background-color: #f0f0f0;
    font-family: Arial, "Arial CE", sans-serif;
}

p:submenu.Loans {
    background-color: yellow;
    font-family: Arial, "Arial CE", sans-serif;
}

p:submenu.People {
    background-color: green;
    font-family: Arial, "Arial CE", sans-serif;
}

p:menuitem {
    background-color: blue;
    font-family: Arial, "Arial CE", sans-serif;
}
