body {	background-color: #f0f0f0; text-align: center;}
table { border:2px; padding:1px; margin:2px; font-size: 150%; text-align: center; width: 100%;}
h1 { text-transform: uppercase; font-size: 24px; padding:10px; border:2px; margin:0px; text-align:center; font-family: arial;}
h2 { text-transform: uppercase; font-size: 22px; padding:0px; border:2px; margin:0px; font-family: arial;}
tbody {	border: 1px; text-align: center;}
thead { border: 1px; text-align: left; width: 25%; font-size: 24px; font-weight:bold;}
th {border: 1px; text-align: left; width: 25%; font-size: 24px; font-weight:bold;}
td {border: 1px; text-align: left; font-family: arial; border: 1px; font-size: 19px;}

/* adapted from: https://www.w3schools.com/css/css_navbar.asp -*/

a {
	display:block; /* adding this changed the orientation to horizontal */
}

a:active {
	background-color: #edfc3a;
}

a:hover{
	background-color: blue;
}

li {
	float: left;
}	

li a, .DropdownBlockHeader {
	display: inline-block; 
	color: red;
	text-align: left;
	padding: 16px 18px;
	font-weight: bold;
}

li a:hover{
	background-color: #edfc3a;
}

li.dropdownBlock{
	display: inline-block;
        
}

ul {
	list-style-type: none; /* noBullets */
	margin: 0;
	padding: 0;
	position: fixed;
	top: 0;
	width: 100%;
	border: 1px solid black;
	border-right: 1px solid black;
        z-index: 10;
}

/* Classes*/
.active{
	background-color: black;
}

.dropdownBlock:hover .dropdownList{
	display:block; /* Displays dropdown list */
}

.dropdownList {
	text-align: left;
	display: none;
	z-index: 1;
	position: absolute;
	background-color: #edfc3a; /* yellow selected by users */
}

.dropdownList a {
	display: block;
}