<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>South Brisbane Library Menu</title>
        <h:outputStylesheet name="css/default.css"/>
    </h:head>
    <h:body>
        <p:menu>
            <p:submenu label="Loans" class="Loans" style="background-color: #66ffff; font-family: arial;">
                <p:menuitem value="Borrow" outcome="filterBorrowers" style="background-color: #FFD000"/>
                <p:menuitem value="Return" outcome="return" style="background-color: #FFD000"/>
            </p:submenu>    
            
            <p:submenu label="Borrower" class="People" style="background-color: #66ffff;">
                <p:menuitem value="Add a Borrower" outcome="addBorrower"/>
                <p:menuitem value="Search for a Borrower" outcome="filterBorrowers" />
            </p:submenu>

            <p:submenu label="Resources" style="background-color: #66ffff;">
                <p:menuitem value="Add a Resource" outcome="addResource" />
                <p:menuitem value="Browse Resources" outcome="editResources" />
                <p:menuitem value="Restore Resources" outcome="restoreResources" />
            </p:submenu>
            
            <p:submenu label="Categories" style="background-color: #66ffff;">
                <p:menuitem value="Add a Category" outcome="addCategory"/>
                <p:menuitem value="Edit Categories" outcome="editCategories"/>
            </p:submenu>
            
            <p:submenu label="ResourceTypes" style="background-color: #66ffff;">
                <p:menuitem value="Add a Resource Type" outcome="addResourceType" />
                <p:menuitem value="Browse Resource Types" outcome="editResourceTypes" />
            </p:submenu>
            
            <p:submenu label="Administration" class="Backup" style="background-color: #66ffff   ; font-family: arial;">
                <p:menuitem value="Back up" outcome="bup"/>
            </p:submenu> 
            
            <p:submenu label="Reports" style="background-color: #66ffff;">
                <p:menuitem value="Resources in Library" url="ThreeColReports.xhtml?choice=10"/>
                
                <p:menuitem value="General Report" outcome="GeneralStatisticsReport" />
                <p:menuitem value="Overdue Loans Report" url="OverdueLoansReportPrint.xhtml"/>
                <p:menuitem value="Loans Report by Year Chart" url="barChart.xhtml"/>
                <p:menuitem value="Loans by Surname Report" url="TwoReports.xhtml?choice=3"/>
                <p:menuitem value="Last Time Each Borrower Borrowed Report" url="TwoReports.xhtml?choice=1"/>     
                <p:menuitem value="Borrowers Report By Month" url="TwoReports.xhtml?choice=2"/> 
                <p:menuitem value="Borrowers Report By Year" url="TwoReports.xhtml?choice=6"/>
                <p:menuitem value="Category Resource Report" url="TwoReports.xhtml?choice=4"/>
                <p:menuitem value="Categories for Current Loans Chart" url="resourceCategoriesChart.xhtml?choice=1"/>
                <p:menuitem value="Categories for all Resources Chart" url="resourceCategoriesChart.xhtml?choice=2"/>
                <p:menuitem value="Resource Type Report" url="TwoReports.xhtml?choice=5"/>
                
                <p:menuitem value="Resources in Library" url="TwoReports.xhtml?choice=10"/>
                <p:menuitem value="Resources Out" url="TwoReports.xhtml?choice=11"/>
                <p:menuitem value="Resources Lost" url="TwoReports.xhtml?choice=12"/>
            </p:submenu>
            
            <p:submenu label="Help" style="background-color: #66ffff;">
                <p:menuitem value="Help" url="Help.xhtml"></p:menuitem>
            </p:submenu>
        </p:menu>

    </h:body>

</html>
