<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    template="layout/template.xhtml">

    <ui:define name="content">
        <h:form id="addBorrowerForm">
            <p:panelGrid columns="3" role="tabular">
                
                <p:outputLabel for="firstname" value="First Name:"/>
                <p:inputText id="firstname" required="true" requiredMessage="Firstname must be provided." value="#{borrowerController.current.firstname}"/>
                <p:message id="firstnameMessage" for="firstname" />
                
                <p:outputLabel for="lastname" value="Last Name:"/>
                <p:inputText id="lastname" required="true" requiredMessage="Lastname must be provided." value="#{borrowerController.current.lastname}"/>
                <p:message id="lastnameMessage" for="lastname"/>
                
                <p:outputLabel for="address" value="Address:"/>
                <p:inputText id="address" required="true" requiredMessage="Address must be provided" 
                             value="#{borrowerController.current.address}" style="width: 100" />
                <p:message id="addressMessage" for="address"/>
                
                <p:outputLabel for="homePhone" value="Home Phone:"/>
                <p:inputMask id="homePhone" mask="(99) 9999 9999" value="#{borrowerController.current.homePhone}"/>
                <p:message for="homePhone"/>
                
                <p:outputLabel for="dob" value="Date of Birth:"/>
                <p:calendar id="dob" value="#{borrowerController.current.dob}"/>
                <p:message for="dob"/>
                
            </p:panelGrid>
            <p:commandButton value="Save" icon="ui-icon-check" update="firstnameMessage,lastnameMessage,addressMessage" action="#{borrowerController.save()}"/>
        </h:form>
    </ui:define>

</ui:composition>