<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    template="layout/template.xhtml">

    <ui:define name="content">
        <p:notificationBar position="top" effect="slide" widgetVar="bar">
            <h:outputText value="Toggled Successfully" style="font-size:36px;"/>
            <p:commandButton value="Hide" onclick="PF('bar').hide()" type="button" icon="ui-icon-arrow-1-n"/>
        </p:notificationBar>
        <h:form>
            <p:panelGrid columns="2">
                <p:outputLabel for="firstname" value="First Name:"/>
                <p:inputText id="firstname" required="true" value=""/>
                
                <p:outputLabel for="lastname" value="Last Name:"/>
                <p:inputText id="lastname" required="true" value=""/>
                
                <p:outputLabel for="address" value="Address:"/>
                <p:inputText id="address" required="true" value=""/>
                
                <p:outputLabel for="homePhone" value="Home Phone:"/>
                <p:inputMask id="homePhone" value="" mask="(99) 9999 9999"/>
                
                <p:outputLabel for="dob" value="Date of Birth:"/>
                <p:calendar id="dob"/>
            </p:panelGrid>
        </h:form>
    </ui:define>

</ui:composition>