<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    template="layout/template.xhtml">
    <ui:define name="content">
        <h:form id="addBorrowerForm">
            <p:growl id="addBorrowerMessages" showSummary="true" severity="info,warn,error,fatal" life="6000"/>
            <p:panelGrid columns="3" styleClass="ui-noborder">
                <p:focus id="filterBorrowersFormFocus"></p:focus>    
                <f:facet name="header">
                    New Borrower Details
                </f:facet>
                
                <p:outputLabel for="firstname" value="First Name:"/>
                <p:inputText id="firstname" required="true" requiredMessage="A first name must be provided." maxlength="25" tabindex="1" value="#{myBorrowerController.current.firstname}">
                </p:inputText>
                <p:message id="firstnameMessage" for="firstname"/>
                
                <p:outputLabel for="lastname" value="Last Name:"/>
                <p:inputText id="lastname" required="true" requiredMessage="A last name must be provided." maxlength="25" tabindex="2" value="#{myBorrowerController.current.lastname}"/>
                <p:message id="lastnameMessage" for="lastname"/>
                
                <p:outputLabel for="address" value="Address:"/>
                <p:inputText id="address" required="true"  size="100" requiredMessage="An address must be provided" maxlength="255" tabindex="3" value="#{myBorrowerController.current.address}"/>
                <p:message id="addressMessage" for="address"/>
                
                <p:outputLabel for="homePhone" value="Home Phone:"/>
                <p:inputMask id="homePhone" mask="(99) 9999 9999" tabindex="4" value="#{myBorrowerController.current.phone}"/>
                <p:message id="homePhoneMessage" for="homePhone"/>
                
                <p:outputLabel for="mobile" value="Mobile:"/>
                <p:inputMask id="mobile" mask="999 999 999" tabindex="5" value="#{myBorrowerController.current.mobile}"/>
                <p:message id="mobileMessage" for="mobile"/>
                
                <p:outputLabel for="email" value="Email:"/>
                <p:inputText id="email" maxlength="255" tabindex="6" value="#{myBorrowerController.current.email}">
                    
                </p:inputText>
                <p:message id="emailMessage" for="email"/>
                
                <p:outputLabel for="comment" value="Comment"/>
                <p:inputText id="comment" maxlength="255" tabindex="7" value="#{myBorrowerController.current.comment}"/>
                <p:message id="commentMessage" for="comment"/>
                
                <f:facet name="footer">
                    <p:commandButton value="Save" tabindex="8" update="addBorrowerMessages,firstnameMessage,lastnameMessage,addressMessage,homePhoneMessage,mobileMessage,emailMessage,commentMessage" icon="ui-icon-check" action="#{myBorrowerController.save()}"/>
                    <p:commandButton value="Clear" tabindex="8" update="addBorrowerMessages,firstnameMessage,lastnameMessage,addressMessage,homePhoneMessage,mobileMessage,emailMessage,commentMessage" icon="ui-icon-check" action="#{myBorrowerController.resetAddBorrowerPage()}"/>
                </f:facet>
                
            </p:panelGrid>
        </h:form>
    </ui:define>

</ui:composition>