<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    template="layout/template.xhtml">

    <ui:define name="content">
        <p:notificationBar position="top" effect="slide" widgetVar="bar">
            <h:outputText value="Toggled Successfully" style="font-size:36px;"/>
            <p:commandButton value="Hide" onclick="PF('bar').hide()" type="button" icon="ui-icon-arrow-1-n"/>
        </p:notificationBar>
        <p:panel header="Add Borrower">
            <p:inputText label="firstname" title="Firstname" required="true" value="hello"/>
            <p:inputText label="lastname" title="Lastname" required="true" value="hello"/>
            <p:inputText label="address" title="Address" required="true" value="hello"/>
            <p:inputText label="home phone" title="Home Phone" required="true" value="hello"/>
        </p:panel>
        <p:panel header="Experiment">
            <p:fieldset legend="Cars" toggleSpeed="300" toggleable="true">
                <p:ajax event="toggle" onsuccess="PF('bar').show();"/>
                <p:panelGrid columns="2">
                    <p:graphicImage library="images" name="auto-1.jpg" width="125" height="100"/>
                    <p:scrollPanel mode="native" style="width: 500px; height: 100px;">
                        <h:outputText value="Sports Cars"/>
                        <br/>
                        <h:outputText value="Sports Cars"/>
                        <br/>
                        <h:outputText value="Sports Cars"/>
                        <br/>
                        <h:outputText value="Sports Cars"/>
                        <br/>
                        <h:outputText value="Sports Cars"/>
                        <br/>
                        <h:outputText value="Sports Cars"/>
                        <br/>
                        <h:outputText value="Sports Cars"/>
                        <br/>
                        <h:outputText value="Sports Cars"/>
                        <br/>
                        <h:outputText value="Sports Cars"/>
                        <br/>
                        <h:outputText value="Sports Cars"/>
                        <br/>
                        <h:outputText value="Sports Cars"/>
                        <br/>
                        <h:outputText value="Sports Cars"/>
                        <br/>
                        <h:outputText value="Sports Cars"/>
                        <br/>
                        <h:outputText value="Sports Cars"/>
                        <br/>
                        <h:outputText value="Sports Cars"/>
                        <br/>
                        <h:outputText value="Sports Cars"/>
                        <br/>
                    </p:scrollPanel>
                </p:panelGrid>
            </p:fieldset>
        </p:panel>
    </ui:define>

</ui:composition>