<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    template="layout/template.xhtml">
    <ui:define name="content">
        <h:form id="addCategoryForm">
            <h1>Add A New Category</h1>
            <br />
            <p:growl id="addCategoryMessages" showSummary="true" showDetail="false" severity="info,warn,fatal" life="6000"/>
            <p:panelGrid columns="3" styleClass="ui-noborder"> 
                <p:focus id="CategoryFormFocus"></p:focus>
                <p:outputLabel for="categoryname" value="Category Name:"/>
                <p:inputText id="categoryname" required="true" requiredMessage="A category name must be provided." 
                    maxlength="25" tabindex="1" value="#{myCategoryController.current.categoryName}">
                </p:inputText>
                <p:message id="categoryNameMessage" for="categoryname" showSummary="true" severity="error"/>
                
                <p:outputLabel for="categoryCode" value="Symbol:"/>
                <p:inputText id="categoryCode"
                    maxlength="55" tabindex="2" value="#{myCategoryController.current.code}">
                    <p:watermark for="categoryCode" value="&amp;#0000;"></p:watermark>
                    <p:tooltip id="categoryCodeToolTip" value="Click on the help button below to see help on choosing a symbol"></p:tooltip>
                </p:inputText>
                <p:message id="categoryCodeMessage" for="categoryCode" showSummary="true" severity="error"/>
                
                <f:facet name="footer">
                    <p:commandButton value="Save" tabindex="3" update="addCategoryMessages,categoryNameMessage,categoryCodeMessage" 
                        icon="ui-icon-check" action="#{myCategoryController.Save()}"/>
                    <p:commandButton value="Help" icon="ui-icon-help" action="categoryHelp"></p:commandButton>
                </f:facet>
            </p:panelGrid>
        </h:form>
    </ui:define>

</ui:composition>