<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    template="layout/template.xhtml">
    <ui:define name="content">
        <h:form id="addResourceTypeForm">
            <p:growl id="addResourceTypeMessages" showSummary="true" severity="info,warn,error,fatal" life="6000"/>
            <p:panelGrid columns="3" styleClass="ui-noborder">
                
                <f:facet name="header">
                    New Resource Type
                </f:facet>
                
                <p:outputLabel for="resourcetypename" value="Resource type:"/>
                <p:inputText id="resourcetypename" required="true" requiredMessage=" The resource type must be provided." maxlength="25" tabindex="1" value="#{myResourceTypeController.current.resourcetype}">
                </p:inputText>
                <p:message id="resourceTypeMessage" for="resourcetypename"/>
                
                <f:facet name="footer">
                    <p:commandButton value="Save" tabindex="8" update="addResourceTypeMessages,resourceTypeMessage" icon="ui-icon-check" action="#{myResourceTypeController.save()}"/>
                </f:facet>
            </p:panelGrid>
        </h:form>
    </ui:define>

</ui:composition>