<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    template="layout/template.xhtml">
    <ui:define name="content">
        <h:form id="addResourceForm">
            <f:view id="addResourceFormView">
                <p:growl id="growl" showSummary="true" severity="info,warn,fatal" life="6000" />
                <p:panelGrid columns="3" styleClass="ui-noborder">
                <p:focus id="filterBorrowersFormFocus"></p:focus>    
                    <f:facet name="header">
                        Add A New Resource
                    </f:facet>

                    <p:outputLabel for="resourceID" value="Resource ID:"/>
                    <p:inputText id="resourceID" required="true" requiredMessage="A resource ID must be provided." 
                        maxlength="6" tabindex="1" value="#{myResourceController.current.resourceid}" >
                        <p:watermark for="resourceID" value="R00000"></p:watermark>
                        <p:tooltip id="resourceIDToolTip" value="Enter a resource id, eg R00001" for="resourceID"/>  
                        
                    </p:inputText> 
                    <p:message id="resourceIDMessage" for="resourceID" severity="error" />
                    
                    <p:outputLabel for="resourcename" value="Resource Name:"/>
                    <p:inputText id="resourcename" required="true" 
                         requiredMessage="A resource name must be provided." maxlength="255" tabindex="2" 
                         value="#{myResourceController.current.resourcename}">   
                    </p:inputText>
                    <p:message id="resourceNameMessage" for="resourcename" severity="error" />  
                    
                    <p:outputLabel for="category" value="Category:"/>
                    <p:selectOneMenu id="category"  maxlength="25" tabindex="3" autoWidth="true" label="gg" 
                                     placeholder="Choose a category" required="true" requiredMessage="A category is required" syncTooltip="Choose a category" 
                                     effect="fold" editable="true" value="#{myResourceController.selectedCategory}">
                        <f:selectItems value="#{myCategoryController.categoryCategoryPageList}" var="myC" 
                                       itemLabel="#{myC.categoryName}" itemValue="#{myC}" >
                        </f:selectItems>   
                    </p:selectOneMenu>
                    <p:message id="categoryNameMessage" for="category" severity="info,warn,fatal,error"/>  
                    
                    <p:outputLabel for="resourceType" value="Resource type:"/>
                    <p:selectOneMenu id="resourceType" required="true" requiredMessage="A resource type must be provided." 
                                     maxlength="25" placeholder="Click on a resource type"
                                     tabindex="4" effect="fold" editable="true" value="#{myResourceController.current.resourcetype}">
                        <f:selectItems value="#{myResourceController.resourceTypesList}" var="myVar" 
                            itemLabel="#{myVar}" itemValue="#{myVar}"></f:selectItems>
                    </p:selectOneMenu>  
                    <p:message id="resourceTypeMessage" for="resourceType" severity="error"/>
                    
                    <p:outputLabel for="resourceisbn" value="ISBN:"/>
                    <p:inputText id="resourceisbn" required="false" maxlength="50" tabindex="5" 
                         value="#{myResourceController.current.isbn}">
                    </p:inputText>
                    <p:message id="resourceIsbnMessage" for="resourceisbn"/>

                    <p:outputLabel for="authorfirstname" value="Author's first name:"/>
                    <p:inputText id="authorfirstname" required="false" requiredMessage="The author's first name must be provided." maxlength="25" tabindex="6" value="#{myResourceController.current.authorfirstname}">
                    </p:inputText>
                    <h:message id="firstnameMessage" for="authorfirstname"/>

                    <p:outputLabel for="authormiddlename" value="Author's middle name:"/>
                    <p:inputText id="authormiddlename" required="false" requiredMessage="The author's middle name must be provided." maxlength="25" tabindex="7" value="#{myResourceController.current.authormiddlename}">
                    </p:inputText>
                    <h:message id="middleNameMessage" for="authormiddlename"/>

                    <p:outputLabel for="authorlastname" value="Author's last name:"/>
                    <p:inputText id="authorlastname" required="false" requiredMessage="The author's middle name must be provided." maxlength="25" tabindex="8" value="#{myResourceController.current.authorlastname}">
                    </p:inputText>
                    <h:message id="lastnameMessage" for="authorlastname"/>

                    <p:outputLabel for="comment" value="Comment:"/>
                    <p:inputText id="comment" required="false" maxlength="255" tabindex="9" value="#{myResourceController.current.comment}">
                    </p:inputText>
                    <h:message id="commentMessage" for="comment"/>

                    <!--<h:messages globalOnly="true"></h:messages>-->
                    <f:facet name="footer">
                        <p:commandButton value="Save" tabindex="10" 
                            update="growl,resourceID,resourcename,categoryNameMessage,resourceTypeMessage" 
                            action="#{myResourceController.Save()}"/>
                        <p:commandButton value="Clear" tabindex="11" action="#{myResourceController.Clear}"/>
                    </f:facet>
                </p:panelGrid>
            </f:view>
        </h:form>
    </ui:define>
 <!--<p:autoComplete dropdown="true" value="#{myCategoryController.categoryCategoryPageList}" autoHighlight="true" autocomplete="true" forceSelection="true"  var="Cate" itemValue="#{Cate}" itemLabel="#{Cate.categoryName}" >
                    </p:autoComplete> --> 
</ui:composition>