<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    template="layout/template.xhtml">
      
    <ui:define name="content">    
        <h:form id="loanForm">   
            <p:focus id="backupFormFocus" context="loanForm:backup"></p:focus>
            <p:growl id="backupMessages" showSummary="true" severity="info,warn,error,fatal" life="6000"/>
                <f:facet name="footer">
                    <h:commandButton id="backup" value="Back up the data"> 
                    </h:commandButton>    
                </f:facet>
        </h:form>
    </ui:define>
</ui:composition>