<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    template="layout/template.xhtml"> 
    <ui:define name="content">
        <h:form id="GeneralStatsReport">
            <p:growl id="BarChartMessages" showSummary="true" severity="info,warn,error,fatal" life="6000"/>             
            <div align="center" >
                            <p:panel id="panel" style="z-index: -1; background-color: #f0f0f0; margin-top: 30px; border:inactiveborder; width:90%" >
                                <p:chart type="bar" id="barChart" model="#{barChart.bcm}"/>                                        
                            </p:panel>
                <br />
            </div>
        </h:form>                
    </ui:define>               
</ui:composition>    
