<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    template="layout/template.xhtml">
    <ui:define name="content">
        <h:form id="backupForm">
            <p:panel id="backupPanel" header="Backup Data">
                <br />
                <p:focus context="backupPanel" ></p:focus>     
                <p:growl id="backupMessages" showSummary="true" severity="info,warn,error,fatal" life="6000"/>
                <p:outputLabel value="Backup Result: #{backup.result}" tabindex="1"/>
            </p:panel>
        </h:form>
    </ui:define>
</ui:composition>