<ui:composition
xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    template="layout/template.xhtml">
    <body> 
        <ui:define name="content">
            <h:form id="helpForm">
                <p:growl id="HelpMessages" showSummary="true" severity="info,warn,error,fatal" life="6000"/>                
                
                <h1>Help for using the Category form</h1>
		<div id="index">
                    <a name="top"></a>
                    <table style="border-right: black;" cellpadding="7"><tr>
                        <td style="border-right: activeborder solid"><a href="#choose">How to choose a category</a></td>
			<td style="border-right: activeborder solid"><a href="#change">How to change a category</a></td>
                        <td style="border-right: activeborder solid"><a href="#changeGlyph">How to change a category's picture</a></td>
                        <td style="border-right: activeborder solid"><a href="#changeColour">How to change the colour of a category's symbol</a></td>
			</tr></table>
		</div>
                <hr/><br />
		<table>
                    <th><a name="choose"></a>How to choose a category</th>
                    <tr>    
                        <td>
                            <ol>
                                <li>Some books include categories the book falls under in the front of the book, usually above the ISBN.</li>
                            </ol>
                        </td>
                    </tr>
                    <th><a name="change"></a>How to change a category</th>
                        <tr>
                            <td>
                                <ol>
                                    <li>Click on the pencil symbol in the last column</li>
                                    <li>Go to the Categories column</li>
                                    <li>Change the category</li>
                                    <li>Click on the tick symbol in the last column to save, click on the cross symbol to not save the changes.</li>
                                    <br />
                                </ol>
                            </td>
                        </tr>
                    <th><a name="changeGlyph"></a>How to change a category's symbol</th>
                        <tr>
                            <td>
                                <ol>
                                    <li>Search the internet for lists of Unicodes.</li>
                                    <li>Find the Unicode that represents the symbol you want to associate with this category. For example to get &#9679; you should type this: &amp;#9679;</li>
                                    <li>Type the Unicode into the 'Code' section for the Category</li>
                                    <li>Save</li>
                                    <li>NB Unfortunately, not all browsers support every Unicode. If your symbol does not show up you can enter a description of the symbol you have chosen.</li>
                                    <br />
                                </ol>
                            </td>
                        </tr>
                    <th><a name="changeColour"></a>How to change the colour of a category's symbol</th>
                        <tr>
                            <td>
                                <ol>
                                    <li>Select the pencil icon for the category you wish to change</li>
                                    <li>You should see something like the text on the next line:</li>
                                    <li>&lt;p style="color:blue">&amp;#9711;&lt;/p></li>
                                    <li>Change the colour(e.g. blue) to the desired colour(e.g. red)</li>
                                    <li>NB do not change anything else! If you do so then edit another category's code(one which looks like that in line 3), copy the contents and paste them into this category's code. Then change only the colour.</li>
                                    <li>Click on the tick in the last column to save.</li>
                                    <li>Check the colour has changed</li>
                                    <li>If it has not then ask for help from someone who knows CSS(Cascading Style Sheets)</li>
                                    <br />
                                </ol>
                            </td>
                        </tr>
		</table>
                <a href="#top">Return to the top</a>
            </h:form>     
	</ui:define>	
    </body>
</ui:composition>