<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    template="layout/template.xhtml">

    <ui:define name="content">
        <f:view>    
            <p:growl id="growl" showSummary="true" severity="info,warn,error,fatal" life="6000"/>
            <f:facet name="header">
                    Add or Remove Categories
            </f:facet>
            <br />
            <p:outputLabel for="category" value="Category:"/>
            <p:selectOneMenu id="category" maxlength="25" tabindex="1" effect="fold" editable="true" 
                value="#{myCategoryController.current.categoryName}">
                <f:selectItems value="#{myResourceController.categoriesList}" var="myC" 
                   itemLabel="#{myC}" itemValue="#{myC}"></f:selectItems>      
            </p:selectOneMenu>  
            <p:message id="categoryNameMessage" for="category"/>  
            <br />  
            
            <p:outputLabel id="CategoryInstructions" value="#{myCategoryController.instructions}"></p:outputLabel>
            <p:dataList id="unusedCategoryList" value="#{myCategoryController.unusedCategoryList}" emptyMessage="There are no categories you can currently remove or change"></p:dataList>
            <f:facet name="footer">
                 <p:commandButton value="Remove" tabindex="2" update="categoryNameMessage,growl,CategoryInstructions" 
                    icon="ui-icon-trash" action="#{myCategoryController.Delete(category)}" />
                 <p:commandButton value="Change" tabindex="2" update="categoryNameMessage,growl,CategoryInstructions" title="Change the category's name then click this button to save the change to the category's name"
                    icon="ui-icon-trash" action="#{myCategoryController.Update(category)}" />
            </f:facet>         
        </f:view>
    </ui:define>

</ui:composition>