<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    template="layout/template.xhtml">

    <f:metadata>
        <f:viewAction action="#{myBorrowerController.loadBorrowers()}"/>
    </f:metadata>
    <ui:define name="content">
        <h:form id="editBorrowersForm">
            <p:growl id="editBorrowersMessages" showSummary="true" severity="info,warn,error,fatal" life="6000"/>
            <p:dataTable id="editBorrowersDataTable" value="#{myBorrowerController.borrowerPageList}" var="borrower" resizableColumns="true" 
                         paginator="true" rows="8">
                
                <f:facet name="header">
                    Borrower Details
                </f:facet>
                
                <!--<p:column id="selectColumn" headerText="" width="30">
                    <p:selectBooleanCheckbox id="select" value="#{borrower.selected}"/>
                </p:column>-->
                
                <p:column id="firstnameColumn" headerText="First Name">
                    <p:inputText id="firstname" required="true" requiredMessage="Firstname must be provided." maxlength="25" tabindex="1" value="#{borrower.firstname}"/>
                    <p:message id="firstnameMessage" for="firstname"/>
                </p:column>
                
                <p:column id="lastnameColumn" headerText="Last Name">
                    <p:inputText id="lastname" required="true" requiredMessage="Lastname must be provided." maxlength="25" tabindex="2" value="#{borrower.lastname}"/>
                    <p:message id="lastnameMessage" for="lastname"/>
                </p:column>
                
                <p:column id="addressColumn" headerText="Address">
                    <p:inputText id="address" required="true" requiredMessage="Address must be provided" 
                                 maxlength="255" tabindex="3" size="255 "value="#{borrower.address}"/>
                    <p:message id="addressMessage" for="address"/>
                </p:column>
                
                <p:column id="homePhoneColumn" headerText="Home Phone">
                    <p:inputMask id="homePhone" mask="(99) 9999 9999" tabindex="4" value="#{borrower.phone}"/>
                    <p:message id="homePhoneMessage" for="homePhone"/>
                </p:column>
                
                <p:column id="mobileColumn" headerText="Mobile">
                    <p:inputMask id="mobile" mask="999 999 999" tabindex="5" value="#{borrower.mobile}"/>
                    <p:message id="mobileMessage" for="mobile"/>
                </p:column>
                
                <p:column id="emailColumn" headerText="Email">
                    <p:inputText id="email" maxlength="255" tabindex="6" value="#{borrower.email}">
                        <f:validateRegex pattern="[\w\.-]*@[\w\.-]*\."/>
                    </p:inputText>
                    <p:message id="emailMessage" for="email"/>
                </p:column>
                
                <p:column id="commentColumn" headerText="Comment">
                    <p:inputText id="comment" maxlength="255" tabindex="7" value="#{borrower.comment}"/>
                    <p:message id="commentMessage" for="comment"/>
                </p:column>
                
                <f:facet name="footer">
                    <p:commandButton value="Save" tabindex="8" update="firstnameMessage,lastnameMessage,addressMessage,homePhoneMessage,mobileMessage,emailMessage,commentMessage" icon="ui-icon-check" action="#{myBorrowerController.save()}"/>
                </f:facet>
                
            </p:dataTable>
        </h:form>
    </ui:define>

</ui:composition>