<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    template="layout/template.xhtml">

    <f:metadata>
        <f:viewAction action="#{myCategoryController.loadCategories()}"/>
    </f:metadata>
    <ui:define name="content">
        <h:form id="editCategoriesForm">
            <p:growl id="editCategoriesMessages" showSummary="true" severity="info,warn,error,fatal" life="6000"/>
            <p:dataTable id="editCategoriesDataTable" 
                editable="true" 
                emptyMessage="No categories found"         
                value="#{myCategoryController.categoryCategoryPageList}" 
                paginator="true" 
                rowKey="#{myCategoryController.current.categoryID}"
                rows="11"
                var="cat"
                selection="#{myCategoryController.selectedCategory}" 
                filteredValue="#{myCategoryController.categoryCategoryPageList}">
                
                <p:column selectionMode="single" selectRow="true" headerText="Pick" width="50"></p:column>
                
                <p:ajax event="rowSelect" listener="#{myCategoryController.onRowSelect}" />
                <p:ajax event="rowEdit" update="editCategoriesDataTable" listener="#{myCategoryController.onRowEdit}" immediate="true" />    
                <p:ajax event="rowEditCancel" update="editCategoriesDataTable" listener="#{myCategoryController.onRowEditCancel(event)}" />
                <p:ajax event="cellEdit" update="editCategoriesDataTable" listener="#{myCategoryController.onCellEdit}" immediate="true" />
                
                <p:column id="CategoryIDColumn" headerText="ID" width="50" visible="false">
                    <p:cellEditor>
                        <f:facet name="output">
                            <h:outputText value="#{cat.categoryID}" />
                        </f:facet>
                        <f:facet name="input">
                            <p:inputText id="CategoryID"
                                maxlength="25" tabindex="1" value="#{cat.categoryID}"/>
                            <p:message id="CategoryIDMessage" for="CategoryID"/>
                        </f:facet>
                    </p:cellEditor>
                </p:column>
                
                <p:column id="CategoryNameColumn" headerText="Categories">
                    <p:cellEditor>
                        <f:facet name="output">
                            <h:outputText value="#{cat.categoryName}" />
                        </f:facet>
                        <f:facet name="input">
                            <p:inputText id="CategoryName" required="true" requiredMessage="Category name must be provided." 
                                maxlength="25" tabindex="2" value="#{cat.categoryName}"/>
                            <p:message id="CategoryNameMessage" for="CategoryName"/>
                        </f:facet>
                    </p:cellEditor>
                </p:column>
                
               <p:column id="CategoryCodeColumn" headerText="Symbols">
                    <p:cellEditor>
                        <f:facet name="output">
                            <h:outputText value="#{cat.code}" escape="false" />
                        </f:facet>
                        <f:facet name="input">
                            <p:inputText id="CategoryCode" maxlength="105" tabindex="3" value="#{cat.code}" style="font: fontawesome; text-shadow: 0 0 0 yellow;"/>
                            <p:message id="CategoryCodeMessage" for="CategoryCode"/>
                        </f:facet>
                    </p:cellEditor>
                </p:column>
                
                <p:column  id="editColumn" width="60" headerText="Edit">
                    <p:tooltip for="editColumn" value="Click here to change category details"></p:tooltip>
                    <p:rowEditor/>
                </p:column>
                
                 <f:facet name="footer">
                    <p:commandButton value="Delete" tabindex="4" icon="ui-icon-trash" update="CategoryIDMessage,CategoryNameMessage,CategoryCodeMessage" action="#{myCategoryController.Delete}" />
                    <p:commandButton value="Help" icon="ui-icon-help" action="categoryHelp"></p:commandButton>
                </f:facet>   
            </p:dataTable>
            
            
        </h:form>
    </ui:define>

</ui:composition>