<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    template="layout/template.xhtml">

    <f:metadata>
        <f:viewAction action="#{myResourceController.loadResources()}"/>
    </f:metadata>
    <ui:define name="content">
        <p:growl id="growl" showSummary="true" severity="info,warn,error,fatal" life="6000"/>
        <h:form id="editResourcesForm">
            <p:focus id="filterBorrowersFormFocus"></p:focus>
            
            <p:dataTable id="editResourcesDataTable"
                         editable="true"
                         emptyMessage="No resources found"
                         paginator="true"
                         paginatorPosition="bottom"
                         resizableColumns="true" 
                         rowKey="#{cLibResource.resourceid}"
                         selection="#{myResourceController.selectedCLibResource}"
                         rows="11"
                         value="#{myResourceController.resourcePageList}"
                         var="cLibResource">
                <p:ajax event="rowSelect" listener="#{myResourceController.onRowSelect}" />
                <p:ajax event="rowEdit" update="editResourcesDataTable" listener="#{myResourceController.onRowEdit}" />
                <p:ajax event="rowEditCancel" update="editResourcesDataTable" listener="#{myResourceController.onRowEditCancel}" />
                <p:ajax event="cellEdit" update="editResourcesDataTable" listener="#{myResourceController.onCellEdit}" immediate="true" />
                <f:facet name="header">
                    Resources
                </f:facet>    
                
                <p:column selectionMode="single" selectRow="true" width="15"></p:column>
                 
                <p:column id="resourceIDColumn" headerText="ID" filterBy="#{cLibResource.resourceid}" filterMatchMode="contains" width="60">
                    <p:cellEditor>
                        <f:facet name="output">
                            <h:outputText value="#{cLibResource.resourceid}" />
                        </f:facet>
                        <f:facet name="input">
                            <p:inputText id="resourceID" required="true" requiredMessage="Resource ID  must be provided" 
                                         maxlength="6" tabindex="2" size="6" value="#{cLibResource.resourceid}"/>
                        </f:facet>
                    </p:cellEditor>
                </p:column>
                
                <p:column id="resourceNameColumn" headerText="Resource Name" filterBy="#{cLibResource.resourcename}" filterMatchMode="contains">
                    <p:cellEditor>
                        <f:facet name="output">
                            <h:outputText value="#{cLibResource.resourcename}" />
                        </f:facet>
                        <f:facet name="input">
                            <p:inputText id="resourceName" required="true" requiredMessage="The resource's name  must be provided" 
                                         maxlength="255" tabindex="3" value="#{cLibResource.resourcename}"/>
                        </f:facet>
                    </p:cellEditor>
                </p:column>
                
                <p:column id="ISBNColumn" headerText="ISBN" width="35">
                      <p:cellEditor>
                        <f:facet name="output">
                            <h:outputText value="#{cLibResource.isbn}" />
                        </f:facet>
                        <f:facet name="input">
                            <p:inputText id="resourceIsbn" 
                                         maxlength="50" tabindex="4" size="1" value="#{cLibResource.isbn}"/>
                        </f:facet>
                    </p:cellEditor>                    
                    
                </p:column>
                
                <p:column id="authorfirstnameColumn" headerText="First" width="70">
                 <p:cellEditor>
                        <f:facet name="output">
                            <h:outputText value="#{cLibResource.authorfirstname}" />
                        </f:facet>
                        <f:facet name="input">
                            <p:inputText id="authorfirstname" required="true" requiredMessage="The resource's name  must be provided" 
                                         maxlength="25" tabindex="5" size="10" value="#{cLibResource.authorfirstname}"/>
                        </f:facet>
                    </p:cellEditor>
                </p:column>
                
                <p:column id="authormiddlenameColumn" headerText="Mid" width="23"> 
                    <p:cellEditor>
                        <f:facet name="output">
                            <h:outputText value="#{cLibResource.authormiddlename}" />
                        </f:facet>
                        <f:facet name="input">
                            <p:inputText id="authormiddlename" required="true" requiredMessage="The resource's name  must be provided" 
                                maxlength="25" tabindex="6" size="1" value="#{cLibResource.authormiddlename}"/>
                        </f:facet>
                    </p:cellEditor> 
                </p:column>                
                
                <p:column id="authorlastnameColumn" headerText="Last" width="90">
                    
                    <p:cellEditor>
                        <f:facet name="output">
                            <h:outputText value="#{cLibResource.authorlastname}" />
                        </f:facet>
                        <f:facet name="input">
                            <p:inputText id="authorlastname" required="true" requiredMessage="The resource's name  must be provided" 
                                         maxlength="25" tabindex="7" value="#{cLibResource.authorlastname}"/>
                        </f:facet>
                    </p:cellEditor> 
                </p:column>
                
                <p:column id="categoryColumn" headerText="Category" width="90">   
                    <p:selectOneMenu id="category"  maxlength="25" tabindex="3" 
                             effect="fold" >
                        <f:selectItems value="#{myCategoryController.categoryCategoryPageList}" var="myC" 
                               itemLabel="#{myC.categoryName}" itemValue="#{myC.categoryID}">
                        </f:selectItems>   
                    </p:selectOneMenu> 
                </p:column>            
                    
                    
                    <!--<p:cellEditor>
                        <f:facet name="output">
                            <h:outputText value="#{cLibResource.category}" />
                        </f:facet>
                        <f:facet name="input">
                            <p:inputText id="category" required="true" requiredMessage="The resource's category must be provided" 
                                         maxlength="25" tabindex="8" value="#{cLibResource.category.categoryID}"/>
                        </f:facet>
                    </p:cellEditor> 
                </p:column>-->
                
                <p:column id="resourceTypeColumn" headerText="Type" width="50">
                    
                    <p:cellEditor>
                        <f:facet name="output">
                            <h:outputText value="#{cLibResource.resourcetype}" />
                        </f:facet>
                        <f:facet name="input">
                            <p:inputText id="resourcetype" required="true" requiredMessage="The resource's type  must be provided" 
                                         maxlength="25" tabindex="9" value="#{cLibResource.resourcetype}"/>
                        </f:facet>
                    </p:cellEditor> 
                </p:column>
                
                <p:column id="commentColumn" headerText="Comment" width="120">
                    
                    <p:cellEditor>
                        <f:facet name="output">
                            <h:outputText value="#{cLibResource.comment}" />
                        </f:facet>
                        <f:facet name="input">
                            <p:inputText id="comment" 
                                         maxlength="255" tabindex="10" value="#{cLibResource.comment}"/>
                        </f:facet>
                    </p:cellEditor> 
                </p:column>
                
                <p:column width="40" headerText="Edit">
                    <p:rowEditor/>
                </p:column>
                
                <f:facet name="footer">
                    <p:commandButton value="Save" tabindex="11" 
                         icon="ui-icon-check" action="#{myResourceController.onRowEdit(event)}"/>
                    <p:commandButton value="Mark as Lost" tabindex="12" 
                        icon="ui-icon-trash" action="#{myResourceController.lost()}"/>
                    <p:commandButton value="Loan History" tabindex="13" 
                        icon="ui-icon-clock" action="#{myResourceController.LoanHistory}"/>
                </f:facet>
                
            </p:dataTable>
        </h:form>
    </ui:define>

</ui:composition>