<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    template="layout/template.xhtml">

    <f:metadata>
        <f:viewAction action="#{myResourceTypeController.loadResourceTypes()}"/>
    </f:metadata>
    <ui:define name="content">
        <h:form id="editResourceTypesForm">
            <p:growl id="editResourceTypeMessages" showSummary="true" severity="info,warn,error,fatal" life="6000"/>
            <p:dataTable id="editResourceTypesDataTable" 
                         editable="true"
                         emptyMessage="No resource types found"    
                         resizableColumns="true" 
                         paginator="true" 
                         rows="17"
                         selection="#{resourceTypeController.selected}"
                         value="#{myResourceTypeController.resourceTypePageList}"
                         var="resourceTypeDataTable" >
                         <!--selectionMode="single"-->                   
                <f:facet name="header">
                    Resource Types
                </f:facet>

                <p:ajax event="rowSelect" listener="#{myResourceTypeController.onRowSelect}" />
                <p:ajax event="rowEdit" update="editResourceTypesDataTable" listener="#{myResourceTypeController.onRowEdit}" immediate="true" />    
                <p:ajax event="rowEditCancel" update="editResourceTypesDataTable" listener="#{myResourceTypeController.onRowEditCancel(event)}" />
                <p:ajax event="cellEdit" update="editResourceTypesDataTable" listener="#{myResourceTypeController.onCellEdit}" immediate="true" />
                
                <p:column id="ResourceTypeColumn" headerText="Resource Type">
                    <p:cellEditor>
                        <f:facet name="output">
                            <h:outputText value="#{resourceTypeDataTable.resourcetype}" />
                        </f:facet>
                        <f:facet name="input">
                            <h:inputText id="ResourceType" required="true" requiredMessage="The resource type must be provided." 
                                         maxlength="25" tabindex="1" value="#{resourceTypeDataTable.resourcetype}"/>
                            <h:message id="ResourceTypeMessage" for="ResourceType"/>
                        </f:facet>
                    </p:cellEditor>
                </p:column>
                
                <p:column headerText="Change">
                    <p:rowEditor editTitle="Change"></p:rowEditor>
                </p:column>
                
                <f:facet name="footer">
                     <p:commandButton value="Delete" tabindex="2" icon="ui-icon" action="#{myCategoryController.delete}" />
                </f:facet>
            </p:dataTable>
        </h:form>
    </ui:define>

</ui:composition>