<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    template="layout/template.xhtml">

    <f:metadata>
        <f:viewAction action="#{myBorrowerController.loadBorrowers()}"/>
    </f:metadata>
    <ui:define name="content">
        <h:form id="editBorrowersForm">
            <p:growl id="editBorrowersMessages" showSummary="true" severity="info,warn,error,fatal" life="6000"/>
            
            <p:dataTable id="borrowerTable" var="borrower" value="#{myBorrowerController.borrowerPageList}" 
                         editable="true" >
                
                <p:ajax event="rowEdit" update="borrowerTable" listener="#{myBorrowerController.onRowEdit}" />
                <p:ajax event="rowEditCancel" update="borrowerTable" listener="#{myBorrowerController.onRowEditCancel}" />
<!--                <p:ajax event="cellEdit" update="borrowerTable" listener="#{myBorrowerController.onCellEdit}" immediate="true" />-->
                
                <f:facet name="header">
                    Borrower Details
                </f:facet>
                
                <p:column headerText="First Name">
                    <p:cellEditor>
                        <f:facet name="output">
                            <h:outputText value="#{borrower.firstname}" />
                        </f:facet>
                        <f:facet name="input">
                            <p:inputText id="firstname" required="true" requiredMessage="Firstname must be provided." maxlength="25" tabindex="1" value="#{borrower.firstname}" />
                            <p:message id="firstnameMessage" for="firstname"/>
                        </f:facet>
                    </p:cellEditor>
                </p:column>
                <p:column headerText="Last Name">
                    <p:cellEditor>
                        <f:facet name="output">
                            <h:outputText value="#{borrower.lastname}" />
                        </f:facet>
                        <f:facet name="input">
                            <p:inputText id="lastname" required="true" requiredMessage="Lastname must be provided." maxlength="25" tabindex="2" value="#{borrower.lastname}"/>
                            <p:message id="lastnameMessage" for="lastname"/>
                        </f:facet>
                    </p:cellEditor>
                </p:column>
                <p:column headerText="Address">
                    <p:cellEditor>
                        <f:facet name="output">
                            <h:outputText value="#{borrower.address}" />
                        </f:facet>
                        <f:facet name="input">
                            <p:inputText id="address" required="true" requiredMessage="Address must be provided" maxlength="255" tabindex="3" value="#{borrower.address}"/>
                            <p:message id="addressMessage" for="address"/>
                        </f:facet>
                    </p:cellEditor>
                </p:column>
                <p:column headerText="Home Phone">
                    <p:cellEditor>
                        <f:facet name="output">
                            <h:outputText value="#{borrower.phone}" />
                        </f:facet>
                        <f:facet name="input">
                            <p:inputMask id="homePhone" mask="(99) 9999 9999" tabindex="4" value="#{borrower.phone}"/>
                            <p:message id="homePhoneMessage" for="homePhone"/>
                        </f:facet>
                    </p:cellEditor>
                </p:column>
                <p:column headerText="Mobile">
                    <p:cellEditor>
                        <f:facet name="output">
                            <h:outputText value="#{borrower.mobile}" />
                        </f:facet>
                        <f:facet name="input">
                            <p:inputMask id="mobile" mask="999 999 999" tabindex="5" value="#{borrower.mobile}"/>
                            <p:message id="mobileMessage" for="mobile"/>
                        </f:facet>
                    </p:cellEditor>
                </p:column>
                <p:column headerText="Email">
                    <p:cellEditor>
                        <f:facet name="output">
                            <h:outputText value="#{borrower.email}" />
                        </f:facet>
                        <f:facet name="input">
                            <p:inputText id="email" maxlength="255" tabindex="6" value="#{borrower.email}">
            <!--                    <f:validateRegex pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]"/>-->
                            </p:inputText>
                            <p:message id="emailMessage" for="email"/>
                        </f:facet>
                    </p:cellEditor>
                </p:column>
                <p:column headerText="Comment">
                    <p:cellEditor>
                        <f:facet name="output">
                            <h:outputText value="#{borrower.comment}" />
                        </f:facet>
                        <f:facet name="input">
                            <p:inputText id="comment" maxlength="255" tabindex="7" value="#{borrower.comment}"/>
                            <p:message id="commentMessage" for="comment"/>
                        </f:facet>
                    </p:cellEditor>
                </p:column>
                
                <p:column width="40">
                    <p:rowEditor/>
                </p:column>
                
            </p:dataTable>
        </h:form>
    </ui:define>

</ui:composition>