<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    template="layout/template.xhtml">

    <f:metadata>
        <f:viewAction action="#{myBorrowerController.loadBorrowers()}"/>
    </f:metadata>
    
    <ui:define name="content">
        <p:growl id="growl"  globalOnly="true" severity="info,warn,error,fatal" life="6000" showSummary="true" autoUpdate="true"/>
        <h:form id="editBorrowersForm">
            <p:focus id="filterBorrowersFormFocus"></p:focus>           
            <p:dataTable id="borrowerTable"
                editable="true" 
                emptyMessage="No matching people found."
                paginator="true"
                paginatorPosition="bottom"
                resizableColumns="true" 
                rowKey="#{borrower}"
                rows="14"
                selection="#{myLoanController.selectedBorrower}"
                value="#{myBorrowerController.borrowerPageList}" 
                var="borrower">
                <!-- filteredValue="#{myLoanController.selectedBorrower}" this causes a conversion error; remove the value= and no people are found; selection="#{myLoanController.selectedBorrower}" rowKey="#{borrower.borrowerid}" scrollable="true"-->
                <p:ajax event="rowSelect" update="borrowerTable" listener="#{myLoanController.selectedBorrower}" />
                <p:ajax event="rowEdit" update="borrowerTable" listener="#{myBorrowerController.onRowEdit}" />
                <p:ajax event="rowEditCancel" update="borrowerTable" listener="#{myBorrowerController.onRowEditCancel}" />
<!--                <p:ajax event="cellEdit" update="borrowerTable" listener="#{myBorrowerController.onCellEdit}" immediate="true" />-->
                
                <f:facet name="header">
                    Personal Details
                </f:facet>
                
                <p:column selectionMode="single" selectRow="true" ariaHeaderText="Choice" width="17"></p:column>
                    
                <p:column id="surname" filterBy="#{borrower.lastname}" headerText="Surname" footerText="contains" 
                          filterMatchMode="contains" resizable="true" width="139">
                    <h:outputText value="#{borrower.lastname}" />
                    <p:message id="surnameMessage" for="surname"></p:message>
                </p:column>
                
                <p:column id="fname" filterBy="#{borrower.firstname}" headerText="Xian Name" 
                          footerText="contains" 
                          filterMatchMode="contains" width="109">
                    <h:outputText value="#{borrower.firstname}" /> 
                    <p:message id="fnameMessage" for="fname"></p:message>
                </p:column>
                
                <p:column headerText="Address">
                    <p:cellEditor>
                        <f:facet name="output">
                            <h:outputText value="#{borrower.address}" />
                        </f:facet>
                        <f:facet name="input">
                            <p:inputText id="address" required="true" requiredMessage="An address must be provided" 
                                         maxlength="255" tabindex="3" value="#{borrower.address}"/>
                            <p:message id="addressMessage" for="address"/>
                        </f:facet>
                    </p:cellEditor>
                </p:column>
                
                <p:column headerText="Home Phone">
                    <p:cellEditor>
                        <f:facet name="output">
                            <h:outputText value="#{borrower.phone}" />
                        </f:facet>
                        <f:facet name="input">
                            <p:inputMask id="homePhone" mask="(99) 9999 9999" tabindex="4" 
                                 value="#{borrower.phone}"/>
                            <p:message id="homePhoneMessage" for="homePhone"/>
                        </f:facet>
                    </p:cellEditor>
                </p:column>
                
                <p:column headerText="Mobile">
                    <p:cellEditor>
                        <f:facet name="output">
                            <h:outputText value="#{borrower.mobile}" />
                        </f:facet>
                        <f:facet name="input">
                            <p:inputMask id="mobile" mask="999 999 999" tabindex="5" value="#{borrower.mobile}"/>
                            <p:message id="mobileMessage" for="mobile"/>
                        </f:facet>
                    </p:cellEditor>
                </p:column>
                
                <p:column headerText="Email">
                    <p:cellEditor>
                        <f:facet name="output">
                            <h:outputText value="#{borrower.email}" />
                        </f:facet>
                        <f:facet name="input">
                            <!--<p:inputText id="email" maxlength="255" tabindex="6" validatorMessage="This is not an email address" value="#{borrower.email}">
                            <f:validateRegex pattern="([^.@]"/> non Latin characters now possible in email addresses -->
                            <p:inputText id="email" maxlength="255" tabindex="6" value="#{borrower.email}">
                               
                            </p:inputText>
                            <p:message id="emailMessage" for="email"/>
                        </f:facet>
                    </p:cellEditor>
                </p:column>
                <p:column headerText="Comment">
                    <p:cellEditor>
                        <f:facet name="output">
                            <h:outputText value="#{borrower.comment}" />
                        </f:facet>
                        <f:facet name="input">
                            <p:inputText id="comment" maxlength="255" tabindex="7" value="#{borrower.comment}"/>
                            <p:message id="commentMessage" for="comment"/>
                        </f:facet>
                    </p:cellEditor>
                </p:column>
                
                <p:column  id="editColumn" width="60" headerText="Edit">
                    <p:tooltip for="editColumn" value="Click here to change personal details"></p:tooltip>
                    <p:rowEditor/>
                </p:column>
                
                <f:facet name="footer">
                    <p:commandButton value="Loan" tabindex="8" icon="ui-icon" id="loanButton"
                        update="borrowerTable,surnameMessage, fnameMessage,addressMessage,homePhoneMessage,mobileMessage,emailMessage,commentMessage" 
                        action="#{myLoanController.getFilterResult}" >
                        <p:tooltip for="loanButton" value="Find a resource to borrow"></p:tooltip>
                    </p:commandButton>
                    <p:commandButton value="Loans for the chosen person" tabindex="9" icon="ui-icon" id="loansListButton"
                        update="borrowerTable,surnameMessage,fnameMessage,addressMessage,homePhoneMessage,mobileMessage,emailMessage,commentMessage" 
                        action="#{myLoanController.surnameLoansList}" >
                        <p:tooltip for="loansListButton" value="Find loans for people with the same surname as the selected person"></p:tooltip>
                    </p:commandButton>
                    <p:commandButton id="deleteButton" value="Delete" tabindex="10" icon="ui-icon-trash" ajax="false"
                        update=":content:growl,borrowerTable,surnameMessage, fnameMessage,addressMessage,homePhoneMessage,mobileMessage,emailMessage,commentMessage" 
                        action="#{myLoanController.Delete()}" > 
                        <p:tooltip for="deleteButton" value="NB You cannot delete a borrower who has had loans"></p:tooltip>
                    </p:commandButton>
                    <p:commandButton id="helpButton" value="Help" tabindex="11" icon="ui-icon-help" ajax="false"
                        action="#{myBorrowerController.Help()}" > 
                        <p:tooltip for="helpButton" value="Find out how to use this form"></p:tooltip>
                    </p:commandButton>
                </f:facet>
            </p:dataTable>
        </h:form>
    </ui:define>

</ui:composition>