<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    template="layout/template.xhtml">
    <ui:define name="content">
        <h:form id="GeneralStatsReport">
            <f:view contentType="text/html">
            <p:growl id="GenStatsMessages" showSummary="true" severity="info,warn,error,fatal" life="6000"/>              
            <h1>General Statistics Report</h1> 
            <table border="1">
                <tbody>
                    <ui:repeat var="gsr" value="#{genStatisticsReport.list}">
                    <tr>
                        <td>#{gsr.one}</td>
                        <td>#{gsr.two}</td>	
                    </tr>	
                    </ui:repeat>
                </tbody>
            </table> 
            </f:view>
        </h:form>    
    </ui:define>
</ui:composition>