<ui:composition
xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    template="layout/template.xhtml">
    <body> 
        <ui:define name="content">
            <h:form id="Help">
                <p:growl id="HelpMessages" showSummary="true" severity="info,warn,error,fatal" life="6000"/>                
                
                <h1>Help</h1>
		<div id="index">
                    <table style="border-right: black;" cellpadding="7"><tr>
                            <td style="border-right: activeborder solid"><a href="#unfound">Error Message</a></td>
			<td style="border-right: activeborder solid"><a href="#on">Start the computer</a></td>
                        <td style="border-right: activeborder solid"><a href="#borrow">Check out a resource</a></td>
                        <td style="border-right: activeborder solid"><a href="#return">Check in a resource</a></td>
                        <td><a href="#off">Turn off the computer</a></td>
			</tr></table>
		</div>
                <hr/><br />
		<table>
			<tr><th><a name="unfound"></a>Error Message: File not found</th></tr>
                        <tr><td>Print what is on the screen or save the screen contents to a file (use the "prt sc" button on the computer) and inform the Librarian.<br/>
                                Include: 
                                <ol>
                                    <li>The date the problem happened</li>
                                    <li>Who was involved</li>
                                    <li>What happened just before the problem, e.g. I clicked on the "loan" button to loan out a resource and got the error message: "(enter the message here)"</li>
                                    <li>What you did about it, e.g. I recorded the loan details on paper and filed the paper</li>
                                </ol>
                            </td></tr>
			
                        <tr><th><a name="on"></a>How to start the computer</th></tr>
                        <tr><td><ol>
                            <li>Switch on the power at the wall switch</li><br />
                            <li>Push the computer's power button</li><br />
                            <li>Type in the password</li><br />
                        </ol></td></tr>
                        
                        <tr><th><a name="borrow"></a>How to check out a resource</th></tr>
                        <tr><td><ol>
                            <li>Ask for the person's name</li><br />
                            <li>Click on "Borrow" on the menu</li><br />
                            <li>Type in the person's surname(it can be in upper, lower or mixed case, all or part of the name)</li><br />
                            <li>(To search by the person's Christian name use the tab key or click in the box under the "Xian Name" column)</li>
                            <li>Click on the circle to the left of the name of the person borrowing</li><br />
                            <li>Click on the 'Loan' button</li><br />
                            <li>Scan the resource's barcode</li><br />
                            <li>Add comments if desired</li>
                            <li>Click on the "Save" button</li>
			    <li>NB Please check the resource has been checked out. The new loan's details should appear at the top of the list of the user's loans.</li>
                        </ol></td></tr>
                        
                        <tr><th><a name="return"></a>How to check in a resource</th></tr>
                        <tr><td><ol>
                            <li>Click on 'return' on the library menu</li><br />
                            <li>Click on the resource's barcode</li><br />
                            <li>Scan the resource's barcode</li><br />
                      	    <li>NB Please check the resource has been checked in. For DVDs and CDROMs please check the correct resource is in the case and it is undamaged.</li>
                        </ol></td></tr>
                        
                        <tr><th><a name="off"></a>How to turn off the computer</th></tr>
                        <tr><td><ol>
                            <li>Click on the blue button on the lower left hand corner of the computer screen</li><br />
                            <li>Click on the red 'leave'</li><br />
                            <li>click on the red 'shutdown'</li><br />
                            <li>Switch off the power at the wall switch</li><br />
                        </ol></td></tr>                       
		</table>
            </h:form>     
	</ui:define>	
    </body>
</ui:composition>