<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>South Brisbane Church Library</title>
                <link rel="stylesheet" type="text/css" href="/clibrary_web/jsfcrud.xhtml" />
                <h:outputStylesheet name="css/jsfcrud.css"/>
                <h:outputStylesheet name="css/default.css"/>
            </f:facet>
        </h:head>

        <h:body>

            <ui:composition template="layout/template.xhtml">
                <ui:define name="content">
                    <h1>Welcome to the South Brisbane Library Database</h1>
                    <h2>Choose an action from the left</h2>
                </ui:define>
            </ui:composition>

            <h:form>
                <h:commandLink action="#{borrower.listSetup}" value="Show All Borrower Items"/>
            </h:form>
            <h:form>
                <h:commandLink action="#{category.listSetup}" value="Show All Category Items"/>
            </h:form>
            <h:form>
                <h:commandLink action="#{loan.listSetup}" value="Show All Loan Items"/>
            </h:form>
            <h:form>
                <h:commandLink action="#{CLibResource.listSetup}" value="Show All Resource Items"/>
            </h:form>
            <h:form>
                <h:commandLink action="#{resourcetype.listSetup}" value="Show All Resourcetype Items"/>
            </h:form>
        </h:body>





    </f:view>
</html>

