<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    template="layout/template.xhtml">
    <ui:define name="content">
        <h:form id="LoanHxReport">
            <p:growl id="LoanHxMessages" showSummary="true" severity="info,warn,error,fatal" life="6000"/>             
            <h1>Loan History for '#{myResourceController.selectedCLibResource.resourcename}'</h1> 
            <table border="1" cellpadding="50">
                <thead>
                    <tr>
                        <th>Borrower</th>
                        <th>Borrowed</th>
                    </tr>
                </thead>
                <tbody>
                    <ui:repeat var="hx" value="#{myResourceController.list}">
                        <tr>
                            <td>#{myResourceController.list.one}</td>
                            <td>#{myResourceController.list.two}</td>
                        </tr>
                    </ui:repeat>
                </tbody>
            </table>                    
        </h:form>                       
    </ui:define>
</ui:composition>