<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
        xmlns:p="http://primefaces.org/ui"> 
    <h:outputStylesheet name="charts/charts.css" library="primfaces"></h:outputStylesheet>
    
    <h:head>
        <title>Resource Category Report</title>
        <link rel="Stylesheet" href="javax.faces.resource/charts/charts.css.jsf?ln=primefaces" />
    </h:head>
<h:body>
    <h:form>
        <title>Resource Category Report</title>
        <div align="center">
            <p:panel>
                <p:chart type="bar" id="content" model="#{chart.pcm}" style="width:600px;height:450px" />
            </p:panel>
        </div>
               
    </h:form>
</h:body>
</html>
