<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    template="layout/template.xhtml"> 
    
    <ui:define name="content"> 
           
        <h:form id="loanForm">   
            <p:focus id="loanFormFocus" context="loanForm:ResourceID"></p:focus>
            <p:growl id="growl" showSummary="true" severity="info,warn,error,fatal" life="6000"/>
            <p:panelGrid columns="1" styleClass="ui-noborder" id="titleGrid" style="background-color: #ccccff;">
                <p:outputLabel id="title" value="#{myLoanController.borrowerName}"></p:outputLabel> 
            </p:panelGrid>
            <br />
            <p:panelGrid columns="4" styleClass="ui-noborder" id="grid">
                <p:focus context="grid" ></p:focus>
                
                <p:outputLabel for="ResourceID" value="Resource:" style="font-weight: bold"/>  
                <p:inputText id="ResourceID" maxlength="6" size="6" tabindex="1" value="#{myLoanController.current.resource}" />  
                <p:tooltip id="ResourceTip" for="ResourceID" value="Scan in the Item's barcode"></p:tooltip>
                <p:message id="resourceMessage" for="ResourceID"/>  
                
                <p:outputLabel for="Comment" value="Comment:" style="font-weight: bold"/>
                <p:inputText id="Comment" maxlength="600" size="60" tabindex="2" value="#{myLoanController.current.comment}"/>   
                <p:message id="commentMessage" for="Comment"/>
                <br />
                <f:facet name="footer">
                    <p:commandButton value="Save" tabindex="3"  update="growl,ResourceID,Comment" action="#{myLoanController.save()}" /> 
                    <p:commandButton value="Search by Surname" tabindex="4" action="#{myLoanController.surnameLoansList}" /> 
                </f:facet>
            </p:panelGrid>
            <br />
            <br/><p:outputLabel value="#{myLoanController.borrowerLoansMessages}" style="color: red"></p:outputLabel>
            <br /><br />
            <p:outputLabel value="#{myLoanController.personalLoansTitle}" />
            <br />
            <p:dataTable value="#{myLoanController.list}" var="loans" emptyMessage="This person has no current loans" style="border: activeborder solid" summary="A list of a person's current loans.">
                    <p:column> 
                        <f:facet name ="header">What borrowed</f:facet>
                        #{loans.one} 
                    </p:column>
                    <p:column>
                        <f:facet name ="header">When borrowed</f:facet>
                        #{loans.two}
                    </p:column>
                </p:dataTable> 
        </h:form>
    </ui:define>
</ui:composition>