<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    template="layout/template.xhtml">
        <ui:define name="content">
            <h:form id="GeneralStatsReport">
                <p:growl id="GenStatsMessages" showSummary="true" severity="info,warn,error,fatal" life="6000"/>             
                
                <title>Overdue Loans</title> 
                <h1>Overdue Loans Report</h1>
                                <f:metadata>
                                    <f:viewParam name="choice" value="1"></f:viewParam>
                                </f:metadata>
		       		<ui:repeat var="odr" value="#{overdueLoansReport.list}" varStatus="mine">
                                    <table border="2" cellpadding="1" width="100%">
                                            <tr><td>Resource ID:</td><td>#{odr.rid}</td></tr>
                                            <tr><td>Resource Type:</td><td>#{odr.rtype}</td></tr>
                                            <tr><td>Resource Name:</td><td>#{odr.rname}</td></tr>
                                            <tr><td>Category:</td><td>#{odr.catName}</td></tr>
                                            <tr><td>Date Borrowed:</td><td>#{odr.db}</td></tr>
                                            <tr><td>Overdue By:</td><td>#{odr.dover}</td></tr>
                                            <tr><td>Borrower:</td><td>#{odr.cname} #{odr.familyName}</td></tr>
                                            <tr><td>Phone:</td><td>#{odr.rname}</td></tr>
                                            <tr><td>Mobile:</td><td>#{odr.phone}</td></tr>
                                            <tr><td>Email:</td><td>#{odr.mail}</td></tr>
                                    </table>
                                    <br></br><br></br><br></br>
		      		</ui:repeat>			                     
            </h:form>                       
        </ui:define>
</ui:composition>
