<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
		<head>
                    <title>Overdue Loans</title>
		</head>
		<body>
		<f:viewParam name="param">#{param}</f:viewParam>
                    <h2>Overdue Loans Report</h2> 
			<p><br /></p>
                        <p>Sort by date - right aligned<br />Sort by Title<br />Sort by how long overdue - longest first<br /> multiple pages</p>
			    <h:form>
			    <f:view contentType="text/html">
			    <br />
                            <table> 
                                <thead>
                                    <tr>
                                        <td></td>
                                        <td>Christian name</td>
                                        <td>Surname</td>
                                        <td>ID</td>
                                        <td>Title</td>
                                        <td>Type</td>
                                        <td>Category</td>
                                        <td>Borrowed</td>
                                        <td>Overdue By</td>
                                    </tr>
                                </thead>
				<tbody>
                                    <ui:repeat var="odr" value="#{overdueLoansReport.list}" varStatus="mine">
                                    <tr>
		       			<td>#{mine.index}</td>
		       			<td>#{odr.cname}</td>
		      			<td>#{odr.familyName}</td>
		      			<td>#{odr.rid}</td>
		      			<td>#{odr.rname}</td>
		      			<td>#{odr.rtype}</td>
		      			<td>#{odr.catName}</td>
		      			<td>#{odr.db}</td>
		      			<td>#{odr.dover}</td>
                                    </tr>	
                                    </ui:repeat>
		       		</tbody>
                            </table>
		        </f:view>    
		        </h:form>
		</body>
</html>
