<ui:composition
xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    template="layout/template.xhtml">
    <body> 
        <ui:define name="content">
            <h:form id="helpForm">
                <p:growl id="HelpMessages" showSummary="true" severity="info,warn,error,fatal" life="6000"/>                
                
                <h1>Help for using the Borrower form</h1>
		<div id="index">
                    <a name="top"></a>
                    <table style="border-right: black;" cellpadding="7"><tr>
                        <td style="border-right: activeborder solid"><a href="#unfound">How to choose a particular person</a></td>
			<td style="border-right: activeborder solid"><a href="#on">How to change personal details</a></td>
                        <td style="border-right: activeborder solid"><a href="#borrow">How to find out what loans are out for people with a particular person's surname</a></td>
                        <td style="border-right: activeborder solid"><a href="#return">How to read more information when part is hidden</a></td>
			</tr></table>
		</div>
                <hr/><br />
		<table>
                    <th><a name="unfound"></a>How to choose a particular person</th>
                    <tr>    
                        <td>
                            <ol>
                                <li>Start to type a surname in the box under the title for the surname column</li>
                                <li>Alternatively tab to the Xian Name column and start to type in a Christian name</li>
                                <li>The list of people will be limited to those with the letter/s you type in</li>
                                <li>If there are no people shown on the page then delete the letter/s you have entered until people's details are shown again</li>
                                <li>When you see the person you want click on the circle in the leftmost column next to the person's surname</li>
                                <li>If you do not want to type in a name you can use the page numbers in the row just above the buttons. Just click on different page numbers until you see the name you want</li>
                            </ol>
                        </td>
                    </tr>
                    <th><a name="on"></a>How to change personal details</th>
                        <tr>
                            <td>
                                <ol>
                                    <li>Go to the last column for the line containing the details of the person you want</li>
                                    <li>Click on the pencil icon for that column</li>
                                    <li>Change the person's details</li>
                                    <li>To save the changes click on the tick</li>
                                    <li>To not save the changes click on the cross(x)</li>
                                    <br />
                                </ol>
                            </td>
                        </tr>
                    <th><a name="borrow"></a>How to find out what loans are out for people with a particular person's surname</th>
                    <tr>
                        <td>
                            <ol>
                                <li>Follow the instructions for "How to choose a particular person" to search for a surname</li>
                                <li>NB You should only search for a surname, not a Christian name</li>
                                <li>You can choose any person with the surname you want to find loans for</li>
                                <li>Click on the "Loans for the chosen person" button</li>
                            </ol>    
                        </td>
                    </tr>  
                    <tr>
                        <th><a name="return"></a>How to read more information when part is hidden</th>
                    </tr>
                    <tr>
                        <td>
                            <ol>
                                <li>The size of all the columns can be changed</li>
                                <li>Go to the row containing the column headers e.g. surname, Xian name</li>
                                <li>Move the cursor to the space between two column names, e.g. between the surname and Xian name columns</li>
                                <li>When you see the cursor change from an arrow to two vertical lines surrounded by greater than and less than symbols then move the cursor left or right to change column size</li>
                                <li>Move columns until you can see the details for the chosen column</li>
                                <li>You can also reduce the size of the menu to give you more room for the chosen column</li>
                                <li>If you still cannot read all the details then click on the pencil at the end of the row, click on the column, then press the end key on your keyboard to go the end of the detail</li>
                            </ol>
                        </td>
                    </tr>  
		</table>
                <a href="#top">Return to the top</a>
            </h:form>     
	</ui:define>	
    </body>
</ui:composition>