<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    template="layout/template.xhtml">

    <f:metadata>
        <f:viewAction action="#{myResourceController.loadLostResources()}"/>
    </f:metadata>
    <ui:define name="content">
        <h:form id="editResourcesForm">
            <p:focus id="filterBorrowersFormFocus"></p:focus>
            <p:growl id="editResourcesMessages" showSummary="true" severity="info,warn,error,fatal" life="6000"/>
            <p:dataTable id="editResourcesDataTable"
                         editable="true"
                         emptyMessage="No resources found"
                         paginator="true"
                         paginatorPosition="bottom"
                         resizableColumns="true" 
                         rowKey="#{cLibResource.resourceid}"
                         selection="#{myResourceController.selectedCLibResource}"
                         rows="12"
                         value="#{myResourceController.resourcePageList}"
                         var="cLibResource">
                <p:ajax event="rowSelect" listener="#{myResourceController.onRowSelect}" />
                <p:ajax event="rowEdit" update="editResourcesDataTable" listener="#{myResourceController.onRowEdit}" />
                <p:ajax event="rowEditCancel" update="editResourcesDataTable" listener="#{myResourceController.onRowEditCancel}" />
                <p:ajax event="cellEdit" update="editResourcesDataTable" listener="#{myResourceController.onCellEdit}" immediate="true" />
                <f:facet name="header">
                    Lost Resources
                </f:facet>    
                
                <p:column selectionMode="single" selectRow="true" width="15"></p:column>
                 
                <p:column id="resourceIDColumn" headerText="ID" filterBy="#{cLibResource.resourceid}" filterMatchMode="contains">
                    <p:cellEditor>
                        <f:facet name="output">
                            <h:outputText value="#{cLibResource.resourceid}" />
                        </f:facet>
                        <f:facet name="input">
                            <p:inputText id="resourceID" required="true" requiredMessage="Resource ID  must be provided" 
                                         maxlength="6" tabindex="2" size="6" value="#{cLibResource.resourceid}"/>
                            <p:message id="resourceIDMessage" for="resourceID"/>
                        </f:facet>
                    </p:cellEditor>
                </p:column>
                
                <p:column id="resourceNameColumn" headerText="Resource Name" filterBy="#{cLibResource.resourcename}" filterMatchMode="contains">
                    <p:cellEditor>
                        <f:facet name="output">
                            <h:outputText value="#{cLibResource.resourcename}" />
                        </f:facet>
                        <f:facet name="input">
                            <p:inputText id="resourceName" required="true" requiredMessage="The resource's name  must be provided" 
                                         maxlength="255" tabindex="3" size="40" value="#{cLibResource.resourcename}"/>
                            <p:message id="resourcenameMessage" for="resourceName"/>
                        </f:facet>
                    </p:cellEditor>
                </p:column>
                
                 <p:column id="ISBNColumn" headerText="ISBN">
                      <p:cellEditor>
                        <f:facet name="output">
                            <h:outputText value="#{cLibResource.isbn}" />
                        </f:facet>
                        <f:facet name="input">
                            <p:inputText id="resourceIsbn" 
                                         maxlength="255" tabindex="4" size="1" value="#{cLibResource.isbn}"/>
                            <p:message id="resourceIsbnMessage" for="resourceIsbn"/>
                        </f:facet>
                    </p:cellEditor>                    
                    
                </p:column>
                
                <p:column id="authorfirstnameColumn" headerText="Xian Name">
                 <p:cellEditor>
                        <f:facet name="output">
                            <h:outputText value="#{cLibResource.authorfirstname}" />
                        </f:facet>
                        <f:facet name="input">
                            <p:inputText id="authorfirstname" required="true" requiredMessage="The resource's name  must be provided" 
                                         maxlength="25" tabindex="5" size="10" value="#{cLibResource.authorfirstname}"/>
                            <p:message id="authorfirstnameMessage" for="authorfirstname"/>
                        </f:facet>
                    </p:cellEditor>
                </p:column>
                
                 <p:column id="authormiddlenameColumn" headerText="Middle Name"> 
                    <p:cellEditor>
                        <f:facet name="output">
                            <h:outputText value="#{cLibResource.authormiddlename}" />
                        </f:facet>
                        <f:facet name="input">
                            <p:inputText id="authormiddlename" required="true" requiredMessage="The resource's name  must be provided" 
                                         maxlength="25" tabindex="6" value="#{cLibResource.authormiddlename}"/>
                            <p:message id="authormiddlenameMessage" for="authormiddlename"/>
                        </f:facet>
                    </p:cellEditor> 
                </p:column>                
                
                <p:column id="authorlastnameColumn" headerText="Surname">
                    
                    <p:cellEditor>
                        <f:facet name="output">
                            <h:outputText value="#{cLibResource.authorlastname}" />
                        </f:facet>
                        <f:facet name="input">
                            <p:inputText id="authorlastname" required="true" requiredMessage="The resource's name  must be provided" 
                                         maxlength="25" tabindex="7" value="#{cLibResource.authorlastname}"/>
                            <p:message id="authorlastnameMessage" for="authorlastname"/>
                        </f:facet>
                    </p:cellEditor> 
                </p:column>
                
                <p:column id="categoryColumn" headerText="Category">
                    
                    <p:cellEditor>
                        <f:facet name="output">
                            <h:outputText value="#{cLibResource.category}" />
                        </f:facet>
                        <f:facet name="input">
                            <p:inputText id="category" required="true" requiredMessage="The resource's category  must be provided" 
                                         maxlength="25" tabindex="8" value="#{cLibResource.category}"/>
                            <p:message id="authorcategoryMessage" for="category"/>
                        </f:facet>
                    </p:cellEditor> 
                </p:column>
                
                <p:column id="resourceTypeColumn" headerText="Type">
                    
                    <p:cellEditor>
                        <f:facet name="output">
                            <h:outputText value="#{cLibResource.resourcetype}" />
                        </f:facet>
                        <f:facet name="input">
                            <p:inputText id="resourcetype" required="true" requiredMessage="The resource's type  must be provided" 
                                         maxlength="25" tabindex="9" value="#{cLibResource.resourcetype}"/>
                            <p:message id="resourcetypeMessage" for="resourcetype"/>
                        </f:facet>
                    </p:cellEditor> 
                </p:column>
                
                <p:column id="commentColumn" headerText="Comment">
                    
                    <p:cellEditor>
                        <f:facet name="output">
                            <h:outputText value="#{cLibResource.comment}" />
                        </f:facet>
                        <f:facet name="input">
                            <p:inputText id="comment" 
                                         maxlength="255" tabindex="10" value="#{cLibResource.comment}"/>
                            <p:message id="commentMessage" for="comment"/>
                        </f:facet>
                    </p:cellEditor> 
                </p:column>
                
                 <p:column width="60">
                    <p:rowEditor/>
                </p:column>
                
                <f:facet name="footer">
                    <p:commandButton value="Mark as Available" tabindex="12" 
                        icon="ui-icon-arrowrefresh-1-s" action="#{myResourceController.restore()}"/>
                    <p:commandButton value="Delete all VHS" tabindex="13" 
                        icon="ui-icon-trash" action="#{myResourceController.VHS()}"/>
                </f:facet>
                
            </p:dataTable>
        </h:form>
    </ui:define>

</ui:composition>