<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    template="layout/template.xhtml">
    <ui:define name="content">
        <h:form id="returnForm">
            <p:panel id="returnPanel" header="Return a Loan">
                <br />
                <p:focus context="returnPanel" ></p:focus>     
                <p:growl id="returnMessages" autoUpdate="true" showSummary="true" severity="info,warn,error,fatal" life="6000"/>
                <p:panelGrid columns="3" styleClass="ui-noborder" id="returnPanelGrid">              
                    <p:outputLabel for="barcode" value="Resource ID:"/>
                    <p:inputText id="barcode" required="true" requiredMessage="A resource ID must be provided." maxlength="6" size="6" tabindex="1" value="#{myLoanController.current.resource.resourceid}">
                        <p:watermark for="barcode" value="R00000"></p:watermark>    
                        <p:tooltip id="barcodeTip" for="barcode" value="Scan in the Item's barcode"></p:tooltip>  
                    </p:inputText>
                    <p:message id="returnMessage" for="barcode"/>
                    <br />
                    <f:facet name="footer">
                        <p:commandButton value="Return" tabindex="2" update="returnMessages,returnMessage" icon="ui-icon-check" action="#{myLoanController.returnItem()}"/>
                    </f:facet>
                </p:panelGrid>
            </p:panel>
        </h:form>
    </ui:define>
</ui:composition>