<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    template="layout/template.xhtml">
        <ui:define name="content">
            <h:form id="FamilyLoansReport">
                <p:growl id="FamilyLoansMessages" showSummary="true" severity="info,warn,error,fatal" life="6000"/>             
                
                <h1 style="background-color: aliceblue">Loans For All #{myLoanController.selectedBorrower.lastname}s </h1> 
                <table border="1" cellpadding="5">
			    	<thead>
				    <tr>
                                            <th>Name</th>
                                            <th>Resource (Category)</th>
                                            <th>Date Borrowed</th>
				    </tr>
				</thead>
				<tbody>
                                    <ui:repeat var="name" value="#{myLoanController.surnameLoansList}">
		       			<tr>
                                            <td>#{name.one}</td>
                                            <td>#{name.two}</td>
                                            <td>#{name.three}</td>
		       			</tr>
                                    </ui:repeat>
		      		</tbody>
		      	</table>                    
            </h:form>                       
        </ui:define>
</ui:composition>