<?xml version='1.0' encoding='UTF-8' ?> 
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    template="layout/template.xhtml">
    <h:head>
        <title>Resources</title>
    </h:head>
    
    <ui:define name="content">
        <h:form id="Report">
            <p:commandButton icon="ui-icon-print" value="Print" type="button">
                <p:printer target="ReportsTable" ></p:printer>
            </p:commandButton>
            <f:facet name="header">Resources</f:facet>
            <p:growl id="GenStatsMessages" showSummary="true" severity="info,warn,error,fatal" life="6000"/>             
            <p:dataTable id="ReportsTable" value="#{threeColReport.list}" var="name" resizableColumns="true" 
                         paginator="true">

                <p:column id="columnOne" headerText="#{threeColReport.header1}" width="150" style="">
                    <h:outputText id="one" value="#{name.one}" escape="false" />
                    <p:message id="columnOneMessage" for="columnOne"/>
                </p:column>
                <p:column id="column2" headerText="#{threeColReport.header2}" style="">
                    <h:outputText id="two" value="#{name.two}" escape="false" />
                    <p:message id="column2Message" for="column2"/>
                </p:column>         
                <p:column id="column3" headerText="#{threeColReport.header3}">
                    <h:outputText id="three" value="#{name.three}"/>
                    <p:message id="column3Message" for="column3"/>
                </p:column>  

            </p:dataTable>  

            <!--<h:commandButton label="Export">
                <p:dataExporter type="pdf" fileName="ResourcesinLibrary.pdf" target="ReportsTable"></p:dataExporter>
            </h:commandButton>-->
        </h:form>                       
    </ui:define>
</ui:composition>