<?xml version='1.0' encoding='UTF-8' ?> 
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    template="layout/template.xhtml">
        <ui:define name="content">
            <h:form id="GeneralStatsReport">
                <p:growl id="GenStatsMessages" showSummary="true" severity="info,warn,error,fatal" life="6000"/>             
                    <p:button value="Print resources" icon="ui-icon-print">
                        <!--<p:printer target=":GeneralStatsReport:ReportsTable" />-->
                    </p:button>
                    <!--<p:dataExporter type="pdf" fileName="ResourcesinLibrary" target="ReportsTable"></p:dataExporter>-->
                <p:dataTable id="ReportsTable" value="#{report.list}" var="name" resizableColumns="true" 
                             >
                    <f:facet name="header">
                        <p:outputLabel value="#{report.title}"></p:outputLabel>
                    </f:facet>
                    <p:column id="columnOne" headerText="#{report.header1}" width="200" >
                        <h:outputText id="one" value="#{name.one}" escape="false" />
                        <p:message id="columnOneMessage" for="columnOne"/>
                    </p:column>
                    <p:column id="column2" headerText="#{report.header2}">
                        <h:outputText id="two" value="#{name.two}" escape="false" />
                        <p:message id="column2Message" for="column2"/>
                    </p:column>           
                    
                </p:dataTable>     
                

            </h:form>                       
        </ui:define>
</ui:composition>