<?xml version='1.0' encoding='UTF-8' ?> 
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    template="layout/template.xhtml">
        <ui:define name="content">
            <h:form id="GeneralStatsReport">
                <p:growl id="GenStatsMessages" showSummary="true" severity="info,warn,error,fatal" life="6000"/>             
                
                <h1>#{report.title}</h1> 
                <table border="1">
			    	<thead>
				    <tr>
                                            <th>#{report.header1}</th>
                                            <th>#{report.header2}</th>
				    </tr>
				</thead>
				<tbody>
                                    <ui:repeat var="name" value="#{report.list}">
		       			<tr>
                                            <td>#{name.one}</td>
                                            <td>#{name.two}</td>
		       			</tr>
                                    </ui:repeat>
		      		</tbody>
		      	</table>                    
            </h:form>                       
        </ui:define>
</ui:composition>