<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:p="http://primefaces.org/ui">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>CLibrary 3</title>
    </h:head>

    <h:body>
        
        <h:form>
            <p:layout fullPage="true">

                <p:ajax event="resize" listener="#{addBorrower.layoutResizeEvent}"/>
                <p:layoutUnit position="north" size="100" resizable="true" closable="true" collapsible="true">
                    South Brisbane Library
                </p:layoutUnit>

                <p:layoutUnit position="south" size="100" closable="true" collapsible="true">
                    Footer
                </p:layoutUnit>

                <p:layoutUnit position="west" size="250" header="Menu" collapsible="true" resizable="true">
                    <ui:include src="../menu/menu.xhtml" />
                </p:layoutUnit>

                <p:layoutUnit position="center">
                    <ui:insert name="content"/>
                </p:layoutUnit>

            </p:layout>
        </h:form>
    </h:body>

</html>
