<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:p="http://primefaces.org/ui">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>South Brisbane SDA Library</title>
        <h:outputStylesheet name="css/default.css"/>
    </h:head>

    <h:body>
        <h:form>
            <p:layout fullPage="true">

                <!--<p:layoutUnit position="north" size="100" resizable="true" closable="true" collapsible="true">
                    South Brisbane Library
                </p:layoutUnit>

                <p:layoutUnit position="south" size="100" closable="true" collapsible="true">
                    Footer
                </p:layoutUnit>-->

                <p:layoutUnit position="west" size="260" header="Menu" collapsible="false" resizable="true">
                    <ui:include src="../menu/menu.xhtml" />
                </p:layoutUnit>

                <p:layoutUnit position="center">
                    <ui:insert name="content"/>
                </p:layoutUnit>

            </p:layout>
        </h:form>
    </h:body>
</html>
